<!DOCTYPE html>
<html data-ng-app="gApp" data-ng-controller="gCtrl" data-ng-class="{htmlOn: htmlCheck}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title data-ng-bind="title"></title>
<link rel="shortcut icon" type="image/x-icon" href="images/icon_goodee.png" />

<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" media="only screen and (max-width: 1500px)" href="css/common_1500.css">
<link rel="stylesheet" media="only screen and (max-width: 1200px)" href="css/common_1200.css">
<link rel="stylesheet" media="only screen and (max-width: 992px)" href="css/common_992.css">
<link rel="stylesheet" media="only screen and (max-width: 768px)" href="css/common_768.css">
<link rel="stylesheet" media="only screen and (max-width: 576px)" href="css/common_576.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="lib/isotope-docs.min.js"></script>

<script src="js/app.js"></script>

</head>
<body data-ng-class="{bodyOn: bodyCheck}">
	<nav>
		<a href="index.html"><h1 class="text-center" data-ng-bind="title"></h1></a>
		<div class="container">
			<a href="#" class="navbar-site" data-ng-bind="title"></a>
			<button type="button" class="navbar-toggler" data-ng-click="dropEvent()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div data-ng-class="{displayNone: btCheck}" resize>
				<ul>
					<li><a class="main" href="#" data-ng-bind="name"></a></li>
					<br>
					<li class="menu" data-ng-repeat="rows in MenuList" data-ng-class="{displayNone: btCheck}" resize>
						<a href="#" data-ng-bind="rows"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="contents">
		<button type="button" class="btn" data-ng-repeat="rows in btnList" data-ng-click="btnEvnet($index)" data-ng-class="{active : rows.active}" data-ng-bind="rows.name"></button>
	</section>
	<section class="contents2" data-ng-if="projectFlag">
		<div id="inBox" class="bg_white">
			<h1 >{{row.name}}</h1>
			<br>
			<div class="subBox width-100" data-ng-if="">
				<a data-ng-href="{{row.path}}{{row.url}}" target="_blank">
					<img alt="" data-ng-src="images/{{row.img1}}">
				</a>
			</div>
			<div class="subBox width-100" data-ng-if="row.name != 'Media'">
				<a data-ng-href="{{row.path}}{{row.url}}" target="_blank">
					<img alt="" data-ng-src="images/{{row.img2}}">
				</a>
				<div data-ng-if="row.name == 'Impression'">
					<h3></h3>
					<p data-ng-bind="row.contents"></p>
				</div>
			</div>
			<div class="subBox width-100" data-ng-if="row.name == 'Media'">
                <iframe width="800" height="500" src="https://www.youtube.com/embed/sq5tDBYd_aw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	<section class="contents">
		<ul id="portfolioGroup">
			<li class="isotope-item" data-ng-repeat="rows in dataSource" data-ng-class="{bgOn: !rows.type, bgOff: rows.type}" data-ng-click="projectEvent(rows)">
				<h1 class="" data-ng-bind="rows.title"></h1>
				<h3 class="" data-ng-bind="rows.name"></h3>
				<div>
					<img data-ng-src="images/{{rows.img}}" >
				</div>
			</li>
		</ul>
	</section>
	<footer class="text-center">
	   <address> 
	      <span data-ng-bind="address"></span> 
	  </address>
	  <p>{{dns}} <a href="http://goodee.co.kr" title="{{dns}}">홈페이지</a></p> 
	</footer>
</body>
</html>
